language: ruby
bundler_args: --without development
# NOTE (2013-12-30): Temporary workaround for Rubygems-Bundler
#   incompatibility on Travis CI for 1.8 builds
#   see https://github.com/freerange/mocha/commit/66bab2a8f4e7cd8734bf88e6f32157c0d5153125
before_install:
  - gem update --system 2.1.11
  - gem --version
rvm:
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - 1.9.2
  - 1.8.7
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-2.2.0
