language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 1.9.2
  - 1.8.7
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
matrix:
  allow_failures:
    - rvm: jruby-18mode
    - rvm: jruby-19mode
