name: Main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: 'CI Tests'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: [jruby, truffleruby, 2.5, 2.6, 2.7, '3.0', 3.1, head]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.2.0

      # Conditionally configure bundler via environment variables as advised
      #   * https://github.com/ruby/setup-ruby#bundle-config
      - name: Set bundler environment variables
        run: |
          echo "BUNDLE_WITHOUT=checks" >> $GITHUB_ENV
        if: matrix.ruby != 3.1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rspec

      - uses: codecov/codecov-action@v3.1.0
        with:
          name: ${{ matrix.ruby }}
          file: ./coverage/coverage.xml

      - run: bundle exec rubocop
        if: matrix.ruby == 3.1
